.contenedor {
  text-align: center;
  padding: 20px;
}

.card {
  margin: 20px auto;
  padding: 25px;
  width: 250px;
  background: #f0f4ff;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
}

.btn-recargar {
  padding: 10px 20px;
  margin-right: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-volver {
  padding: 10px 20px;
  background: #6c757d;
  border: none;
  color: white;
  border-radius: 5px;
}
