.contenedor {
  padding: 20px;
  max-width: 450px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-guardar {
  padding: 12px;
  background: #ffc107;
  border: none;
  color: black;
  border-radius: 5px;
}

.btn-volver {
  margin-top: 10px;
  padding: 10px;
  background: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
}
