.contenedor {
  padding: 20px;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background: #f0f0f0;
}

.btn-crear {
  margin-bottom: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}

.btn-editar {
  padding: 7px 14px;
  background: #ffc107;
  border-radius: 5px;
  border: none;
}

.btn-eliminar {
  padding: 7px 14px;
  background: #dc3545;
  color: white;
  border-radius: 5px;
  border: none;
}
